In [4]:
import pandas as pd
import openpyxl as xl
import numpy as np
from openpyxl import load_workbook

countries_file = open("inputs\\countries_code.txt","r")
countries = countries_file.readlines() 

row_index = 4
cible_file_name = "CSU.xlsx"
wb = load_workbook(filename = cible_file_name)
sheet = wb.active 


source_file_name ="indicateurs\\Harmonized_series.xls"
excel_data = pd.read_excel(source_file_name, sheet_name='Data',skiprows=3)
country_start = 3
for country in countries:
    df_country = excel_data[excel_data["Country Code"] == country.replace('\n','')]
    print(country)
    print(df_country)
    index_annee = 4
       # sheet.cell(row = 3 , column = column_index).value = indicateur[1]
    for row in range(country_start, country_start+59 ):
        sheet.cell(row = row_index , column = row).value = df_country.iat[0, index_annee]
        index_annee+=1
    row_index+=1
wb.save("CSU.xlsx")

print("\n------------ le processus est ternimé -------------\n")
countries_file.close()
input("appuyez sur une touche pour quitter")

SGP

   Country Name Country Code Indicator Name  Indicator Code  1960  1961  1962  \
50    Singapour          SGP            NaN             NaN   NaN   NaN   NaN

    1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  2016  2017  \
50   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

    2018  2019
50   NaN   NaN

[1 rows x 64 columns]
VNM

   Country Name Country Code  \
28     Vietnam           VNM

                                       Indicator Name  Indicator Code  1960  \
28  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
28   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
28   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
IND

   Country Name Country Code  \
14        Inde           IND

                                       Indicator Name  Indicator Code  1960  \
14  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
14   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
14   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
MEX

   Country Name Country Code  \
18     Mexique           MEX

                                       Indicator Name  Indicator Code  1960  \
18  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
18   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
18   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
CRI

  Country Name Country Code  \
5  Costa Rica           CRI

                                      Indicator Name  Indicator Code  1960  \
5  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
5   NaN   NaN   NaN   NaN   NaN  ...  5.71  6.41  6.64  6.91   NaN   NaN

   2016  2017  2018  2019
5   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
BRA

  Country Name Country Code  \
1      Brésil           BRA

                                      Indicator Name  Indicator Code  1960  \
1  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
1   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

   2016  2017  2018  2019
1   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
RUS

   Country Name Country Code  \
24      Russie           RUS

                                       Indicator Name  Indicator Code  1960  \
24  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012   2013  2014  2015  \
24   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN  12.39   NaN   NaN

    2016   2017  2018  2019
24   NaN  15.93   NaN   NaN

[1 rows x 64 columns]
EGY

  Country Name Country Code  \
9       Egypte          EGY

                                      Indicator Name  Indicator Code  1960  \
9  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
9   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

   2016  2017  2018  2019
9   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
IDN

   Country Name Country Code  \
13   Indonésie           IDN

                                       Indicator Name  Indicator Code  1960  \
13  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
13   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
13   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
ZAF

       Country Name Country Code  \
29  Afrique du Sud           ZAF

                                       Indicator Name  Indicator Code  1960  \
29  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
29   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
29   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
MAR

   Country Name Country Code  \
17       Maroc           MAR

                                       Indicator Name  Indicator Code  1960  \
17  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
17   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
17   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
PAN

   Country Name Country Code  \
20       Panama          PAN

                                       Indicator Name  Indicator Code  1960  \
20  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
20   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
20   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
CHL

  Country Name Country Code  \
2        Chili          CHL

                                      Indicator Name  Indicator Code  1960  \
2  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...   2010   2011   2012   2013   2014  \
2   NaN   NaN   NaN   NaN   NaN  ...  10.25  10.89  11.01  11.72  11.85

    2015   2016   2017  2018  2019
2  11.65  11.79  11.13   NaN   NaN

[1 rows x 64 columns]
DZA

  Country Name Country Code  \
8     Algérie           DZA

                                      Indicator Name  Indicator Code  1960  \
8  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
8   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

   2016  2017  2018  2019
8   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
PER

   Country Name Country Code  \
21       Pérou           PER

                                       Indicator Name  Indicator Code  1960  \
21  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
21   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
21   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
TUR

   Country Name Country Code  \
27     Turquie           TUR

                                       Indicator Name  Indicator Code  1960  \
27  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011   2012  2013  2014  2015  \
27   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN  11.78   NaN   NaN   NaN

     2016  2017  2018  2019
27  14.13   NaN   NaN   NaN

[1 rows x 64 columns]
ESP

   Country Name Country Code  \
10     Espagne           ESP

                                       Indicator Name  Indicator Code  1960  \
10  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...   2010   2011   2012  2013  2014  2015  \
10   NaN   NaN   NaN   NaN   NaN  ...  23.72  25.26  26.85   NaN   NaN   NaN

     2016   2017  2018  2019
10  29.04  29.64   NaN   NaN

[1 rows x 64 columns]
TUN

   Country Name Country Code  \
26     Tunisie           TUN

                                       Indicator Name  Indicator Code  1960  \
26  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
26   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
26   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
THA

   Country Name Country Code  \
25   Thaïlande           THA

                                       Indicator Name  Indicator Code  1960  \
25  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
25   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
25   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
USA

   Country Name Country Code  \
30   Etats Unis          USA

                                       Indicator Name  Indicator Code  1960  \
30  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
30   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
30   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
MYS

   Country Name Country Code  \
19    Malaisie           MYS

                                       Indicator Name  Indicator Code  1960  \
19  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
19   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
19   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
POL

   Country Name Country Code  \
22     Pologne           POL

                                       Indicator Name  Indicator Code  1960  \
22  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011   2012  2013  2014  2015  \
22   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN  17.24   NaN   NaN   NaN

     2016  2017  2018  2019
22  20.33  21.6   NaN   NaN

[1 rows x 64 columns]
HUN

   Country Name Country Code  \
12     Hongrie           HUN

                                       Indicator Name  Indicator Code  1960  \
12  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...   2010   2011   2012  2013  2014  2015  \
12   NaN   NaN   NaN   NaN   NaN  ...  13.49  15.59  15.48   NaN   NaN   NaN

    2016  2017  2018  2019
12   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
ROU

   Country Name Country Code  \
23    Roumanie           ROU

                                       Indicator Name  Indicator Code  1960  \
23  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
23   NaN   NaN   NaN   NaN   NaN  ...  7.79  8.08  9.88   NaN   NaN   NaN

     2016   2017  2018  2019
23  12.97  15.11   NaN   NaN

[1 rows x 64 columns]
FRA

   Country Name Country Code  \
11       France          FRA

                                       Indicator Name  Indicator Code  1960  \
11  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011   2012  2013  2014  2015  \
11   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN  38.69   NaN   NaN   NaN

    2016   2017  2018  2019
11  40.2  41.34   NaN   NaN

[1 rows x 64 columns]
CZE

          Country Name Country Code  \
6  République Tchèque           CZE

                                      Indicator Name  Indicator Code  1960  \
6  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...   2010   2011   2012  2013  2014  2015  \
6   NaN   NaN   NaN   NaN   NaN  ...  15.41  15.94  17.13   NaN   NaN   NaN

    2016   2017  2018  2019
6  19.66  21.59   NaN   NaN

[1 rows x 64 columns]
CHN

  Country Name Country Code  \
3        Chine          CHN

                                      Indicator Name  Indicator Code  1960  \
3  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
3   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

   2016  2017  2018  2019
3   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
DEU

  Country Name Country Code  \
7   Allemagne           DEU

                                      Indicator Name  Indicator Code  1960  \
7  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...   2010   2011   2012  2013  2014  2015  \
7   NaN   NaN   NaN   NaN   NaN  ...  33.89  35.88  36.71   NaN   NaN   NaN

    2016  2017  2018  2019
7  39.89  42.0   NaN   NaN

[1 rows x 64 columns]
AUT

  Country Name Country Code  \
0     Autriche          AUT

                                      Indicator Name  Indicator Code  1960  \
0  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...  2010   2011  2012  2013  2014  2015  \
0   NaN   NaN   NaN   NaN   NaN  ...  32.8  33.78  34.7   NaN   NaN   NaN

    2016   2017  2018  2019
0  38.46  39.17   NaN   NaN

[1 rows x 64 columns]
COL

  Country Name Country Code  \
4     Colombie          COL

                                      Indicator Name  Indicator Code  1960  \
4  Mean nominal hourly labour cost per employee b...             NaN   NaN

   1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
4   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

   2016  2017  2018  2019
4   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
JPN

   Country Name Country Code  \
15       Japon           JPN

                                       Indicator Name  Indicator Code  1960  \
15  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
15   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
15   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
ARG

   Country Name Country Code  \
46   Argentine           ARG

                                       Indicator Name  Indicator Code  1960  \
46  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
46   NaN   NaN   NaN   NaN   NaN  ...   NaN   1.0   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
46   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
KOR

     Country Name Country Code  \
16  Corée du Sud           KOR

                                       Indicator Name  Indicator Code  1960  \
16  Mean nominal hourly labour cost per employee b...             NaN   NaN

    1961  1962  1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  \
16   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

    2016  2017  2018  2019
16   NaN   NaN   NaN   NaN

[1 rows x 64 columns]
HKG

   Country Name Country Code Indicator Name  Indicator Code  1960  1961  1962  \
51    Honk kong          HKG            NaN             NaN   NaN   NaN   NaN

    1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  2016  2017  \
51   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

    2018  2019
51   NaN   NaN

[1 rows x 64 columns]
WLD
   Country Name Country Code Indicator Name  Indicator Code  1960  1961  1962  \
52        world          WLD            NaN             NaN   NaN   NaN   NaN

    1963  1964  1965  ...  2010  2011  2012  2013  2014  2015  2016  2017  \
52   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

    2018  2019
52   NaN   NaN

[1 rows x 64 columns]

------------ le processus est ternimé -------------

appuyez sur une touche pour quitter

''